#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  background-color: snow;
  padding: 20px;
  border-radius: 20px;
}
table {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  border-spacing: 0 10px;
}

td {
  vertical-align: top;
  height: max-content;
  border-bottom: 1px dashed #49a0ae;
}
td:nth-child(1) {
  width: 70%;
}
